.chart-container {
    max-width: 1050px;
    /* border: 2px solid red; */
    margin: 0 auto;
    /* auto centers the div */
    font-family: 'Arial Narrow', Arial, sans-serif;
}

svg {
    overflow: visible;
}

h1 {
    margin-left: 10px;
    margin-bottom: 0;
    /* border: 2px solid green; */
}

.x .tick line {
    stroke: rgba(0, 0, 0, .2);
}

.y .tick line {
    stroke: rgba(0, 0, 0, .2);
    opacity: 0.5;
}

.x .domain {
    display: none;
}

.y .domain {
    display: none;
}

.y .tick text {
    font-size: 14px;
    fill: #333;
}

.x .tick text {
    font-size: 14px;
    fill: #333;
}

:root {
    --btn_margin: 10px;
    --btn_width: 80px;
    --btn_height: 25px;
    --btn_font_size: 15px;
    --btn_cursor: pointer;
    --btn_orig_back_color: lightgrey;
    --btn_orig_color: black;
    --btn_sel_back_color: darkgrey;
    --btn_sel_color: white;
}

.year-btn {
    margin: var(--btn_margin);
    width: var(--btn_width);
    height: var(--btn_height);
    font-size: var(--btn_font_size);
    cursor: var(--btn_cursor);
    background-color: var(--btn_orig_back_color);
    color: var(--btn_orig_color);
}

.year-btn:focus {
    margin: var(--btn_margin);
    width: var(--btn_width);
    height: var(--btn_height);
    font-size: var(--btn_font_size);
    cursor: var(--btn_cursor);
    background-color: var(--btn_sel_back_color);
    color: var(--btn_sel_color);
}

.age-btn {
    margin: var(--btn_margin);
    width: var(--btn_width);
    height: var(--btn_height);
    font-size: var(--btn_font_size);
    cursor: var(--btn_cursor);
    background-color: var(--btn_orig_back_color);
    color: var(--btn_orig_color);
}

.age-btn:focus {
    margin: var(--btn_margin);
    width: var(--btn_width);
    height: var(--btn_height);
    font-size: var(--btn_font_size);
    cursor: var(--btn_cursor);
    background-color: var(--btn_sel_back_color);
    color: var(--btn_sel_color);
}